<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <div class="grid">
    <div class="ui blue inverted menu">
    <div class="header item">Orgs to Pick</div>
    <a href="/orgs" class="item">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="item">  <i class="plus icon"></i>  Add an Organization </a>
    <%= form_tag(orgs_path, method: :get) do %>
    <div class="ui input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui primary button" %>
    </div>
    <% end %>
    </div>
    </div>
    <br>

    <div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <h1>List of Organizations</h1>

    <table class="ui striped table">
      <thead>
      <tr>
        <th>Acronym</th>
        <th>Name</th>
        <th>College</th>
        <th>Department</th>
        <th>Scope</th>
        <th>Rating</th>
      </tr>
      </thead>

      <tbody>
      <% @orgs.each do |o| %>
        <tr>
          <td><%= link_to o.acronym, org_path(o) %> </td>
          <td><%= o.name %></td>
          <td><%= o.college %></td>
          <td><%= o.department %></td>
          <td><%= o.scope %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
        <th colspan="6"><%= will_paginate @orgs, renderer: WillPaginateSemanticUi::ActionView::Renderer %> </th>
        </tr>
      </tfoot>
    </table>
    </div>
    <div class="two wide column"></div>
    </div>
  </body>
</html>
