<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <%= form_tag(orgs_path, method: :get) do %>
    Orgs to Pick
    <div class="ui action input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui button" %>
    </div>
    <% end %>
    <a href="/orgs" class="ui right labeled icon button">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="ui right labeled icon button">  <i class="plus icon"></i>  Add an Organization </a>

    <h1>All Organizations</h1>

    <table class="ui table">
      <thead>
      <tr>
        <th>Acronym</th>
        <th>Name</th>
        <th>College</th>
        <th>Department</th>
        <th>Scope</th>
        <th>Rating</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @orgs.each do |o| %>
        <tr>
          <td><%= link_to o.acronym, org_path(o) %> </td>
          <td><%= o.name %></td>
          <td><%= o.college %></td>
          <td><%= o.department %></td>
          <td><%= o.scope %></td>
          <td>  </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </body>
</html>
