<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <h1>Add Organization</h1>

    <%= form_with scope: :org, url: orgs_path, local: true do |form| %>
      <div class="ui form">
      <p>
        Name:
        <div class="field">
          <%= form.text_field :name, placeholder: "Orgs To Pick"%>
        </div>
      </p>

      <p>
        Acronym:
        <div class="field">
          <%= form.text_field :acronym, placeholder: "OTP"%>
        </div>
      </p>

      <p>
        College:
        <div class="field">
          <%= form.text_field :college, placeholder: "Engineering"%>
        </div>
      </p>

      <p>
        Department:
        <div class="field">
          <%= form.text_field :department, placeholder: "DCS"%>
        </div>
      </p>

      <p>
        Scope:
        <div class="field">
          <%= form.text_field :scope, placeholder: "University Wide"%>
        </div>
      </p>

      <p>
        Description:
        <div class="field">
          <%= form.text_area :description, class: 'textarea', placeholder: "A database for UP Orgs"%>
        </div>
      </p>

      <p>
          <%= form.submit('Submit', class: "ui primary button") %>
      </p>
    <% end %>
    </div>

  </body>
</html>
