<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <%= form_tag(orgs_path, method: :get) do %>
    Orgs to Pick
    <div class="ui action input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui button" %>
    </div>
    <% end %>
    <a href="/orgs" class="ui right labeled icon button">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="ui right labeled icon button">  <i class="plus icon"></i>  Add an Organization </a>
    <p>
      <strong>Name:</strong>
      <%= @org.name %>
    </p>

    <p>
      <strong>Acronym:</strong>
      <%= @org.acronym %>
    </p>

    <p>
      <strong>College:</strong>
      <%= @org.college %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @org.department %>
    </p>

    <p>
      <strong>Scope:</strong>
      <%= @org.scope %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @org.description %>
    </p>

    <h1> Comments and Ratings </h1>

    <table>
      <tr>
        <th style="width: 100px" colspan="2">Rating</th>
        <th>Comment</th>
      </tr>

      <% @ratings.each do |r| %>
        <tr>
          <td>Community:<br>
          Purpose:<br>
          Self-Benefit:<br>
          App Process:</td>

          <td><%= r.community %><br>
          <%= r.purpose %><br>
          <%= r.selfbenefit %><br>
          <%= r.application %></td>

          <td><%= r.details %></td>
        </tr>
      <% end %>
    </table>

    <%= form_with url: new_rating_path, local: true do |form| %>
        <%= hidden_field_tag :id, @org.id %>
        <%= form.submit 'Add Rating', class: 'ui primary button' %>
    <% end %>
  </body>
</html>
