<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <div class="grid">
    <div class="ui fluid four item blue inverted menu">
    <div class="header item">Orgs to Pick</div>
    <a href="/orgs" class="item">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="item">  <i class="plus icon"></i>  Add an Organization </a>
    <%= form_tag(orgs_path, method: :get) do %>
    <div class="ui input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2],["College",3],["Department",4]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui primary button" %>
    </div>
    <% end %>
    </div>
    </div>
    <br>

    <div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">

      <div class="ui segments">
        <div class="ui blue inverted segment">
          <h1><%= @org.name %> (<%= @org.acronym %>)</h1>
        </div>
        <div class="ui segment">
          <p><strong>Description:</strong> <%= @org.description %></p>
        </div>
        <div class="ui horizontal segments">
          <div class="ui segment">
            <p><strong>Scope:</strong> <%= @org.scope %></p>
          </div>
          <div class="ui segment">
            <p><strong>College:</strong> <%= @org.college %></p>
          </div>
          <div class="ui segment">
            <p><strong>Department:</strong> <%= @org.department %></p>
          </div>
        </div>
        <div class="ui segment">
          <p><strong>Contact Details:</strong> <%= @org.contact %></p>
        </div>
      </div>

      <br>

    <div class="ui five statistics">
      <div class="statistic">
        <div class="value">
          <% if @ratings.count > 0 %> <%= @otot %> <% else %> - <% end %><i class="chart pie icon"></i>
        </div>
        <div class="label">
          Overall
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <% if @ratings.count > 0 %> <%= @ctot %> <% else %> - <% end %><i class="users icon"></i>
        </div>
        <div class="label">
          Community
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <% if @ratings.count > 0 %> <%= @ptot %> <% else %> - <% end %><i class="bullseye icon"></i>
        </div>
        <div class="label">
          Purpose
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <% if @ratings.count > 0 %> <%= @stot %> <% else %> - <% end %><i class="user icon"></i>
        </div>
        <div class="label">
          Self-Benefit
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <% if @ratings.count > 0 %> <%= @atot %> <% else %> - <% end %><i class="clipboard list icon"></i>
        </div>
        <div class="label">
          Application Process
        </div>
      </div>
    </div>

    <table class="ui celled table">
      <thead>
      <tr>
          <th colspan="3"><h4 class="center aligned header"> Comments and Ratings </h4></th>
      </tr>
      <tr>
        <th colspan="2" class="four wide">Rating</th>
        <th class="twelve wide">Comment</th>
      </tr>
      </thead>

      <tbody>
      <% @ratings.each do |r| %>
        <tr>
          <td>Community:<br>
          Purpose:<br>
          Self-Benefit:<br>
          App Process:</td>

          <td><% r.community.to_i.times do  %> <i class="star icon"></i><% end %><% (5-r.community.to_i).times do  %> <i class="star outline icon"></i><% end %><br>
          <% r.purpose.to_i.times do  %> <i class="star icon"></i><% end %><% (5-r.purpose.to_i).times do  %> <i class="star outline icon"></i><% end %><br>
          <% r.selfbenefit.to_i.times do  %> <i class="star icon"></i><% end %><% (5-r.selfbenefit.to_i).times do  %> <i class="star outline icon"></i><% end %><br>
          <% r.application.to_i.times do  %> <i class="star icon"></i><% end %><% (5-r.application.to_i).times do  %> <i class="star outline icon"></i><% end %></td>

          <td><%= r.details %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
        <th colspan="3"><%= will_paginate @ratings, renderer: WillPaginateSemanticUi::ActionView::Renderer %> </th>
        </tr>
      </tfoot>
    </table>

    <%= form_with url: new_rating_path, local: true do |form| %>
        <%= hidden_field_tag :id, @org.id %>
        <div class="ui primary button" data-tooltip="Please be honest and avoid spamming comments."><%= form.submit 'Add Rating', class: 'ui primary button' %></div>
    <% end %>
    </div>
    <div class="two wide column"></div>
    </div>
  </body>
</html>
