<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
      <!--MAIN CONTENT-->
      <div class="ui items">
      <div class="middle aligned content">
          <h1 align = "center"> ORGS TO PICK </h1>
          <p align = "center">A database of organizations in UP Diliman <br> Based from PROFS TO PICK</p>
              <center>
                <%= form_tag(orgs_path, method: :get) do %>
                <div class="ui input">
                  <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
                  <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2],["College",3],["Department",4]], params[:noa] ), class:"ui compact selection dropdown") %>
                  <%= hidden_field_tag :search, 1 %>
                  <%= submit_tag 'Search', class: "ui primary button" %>
                </div>
                <br><br>
                <a href="/orgs" class="ui right labeled icon blue button">  <i class="list icon"></i>  All Organizations </a>
                <a href="/orgs/new" class="ui right labeled icon blue button">  <i class="plus icon"></i>  Add an Organization </a>
                <% end %>
              </center>
          </div>
          </div>

          <center><p>2019 OrgsToPick v.1.0</p></center>

  </body>
</html>
