<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <div class="grid">
    <div class="ui fluid four item blue inverted menu">
    <div class="header item">Orgs to Pick</div>
    <a href="/orgs" class="item">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="item">  <i class="plus icon"></i>  Add an Organization </a>
    <%= form_tag(orgs_path, method: :get) do %>
    <div class="ui input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2],["College",3],["Department",4]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui primary button" %>
    </div>
    <% end %>
    </div>
    </div>
    <br>

    <div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <h1>Rate <%=@org.name%> </h1>

    <%= form_with scope: :rating, url: ratings_path, local: true do |form| %>
    <div class="ui form">
      <%= hidden_field_tag :org, @org.id %>

      <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header">Community</div>
            <div class="description">
              The general feeling when you're with the other members
            </div>
            <div class="extra">
              1<%= form.range_field :community, in: 1..5 %>5
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Self-benefit</div>
            <div class="description">
              The skills and other gains you have acquired since joining
            </div>
            <div class="extra">
              1<%= form.range_field :selfbenefit, in: 1..5 %>5
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Purpose</div>
            <div class="description">
              The quality and significance of the objectives of the organization
            </div>
            <div class="extra">
              1<%= form.range_field :purpose, in: 1..5 %>5
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Application Process</div>
            <div class="description">
              Reasonability and relevance of the application process
            </div>
            <div class="extra">
              1<%= form.range_field :application, in: 1..5 %>5
            </div>
          </div>
        </div>
      </div>

      <p>
        Details:
        <div class="field">
          <%= form.text_area :details, class: 'textarea', placeholder: "Write something here"%>
        </div>
      </p>

      <p>
        <%= form.submit('Submit', class: "ui primary button", data: {confirm: "By clicking OK you agree that all of your inputs are sincere."}) %>
        <%= link_to "Back", org_path(@org) %>
      </p>
      </div>
    <% end %>
    </div>
    <div class="two wide column"></div>
    </div>
  </body>
</html>
