<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orgs To Pick</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  </head>
  <body>
    <%= form_tag(orgs_path, method: :get) do %>
    Orgs to Pick
    <div class="ui action input">
      <%= text_field_tag :keyword, nil, placeholder: "Search..." %>
      <%= select_tag(:noa, options_for_select([["Name",1],["Acronym",2]], params[:noa] ), class:"ui compact selection dropdown") %>
      <%= hidden_field_tag :search, 1 %>
      <%= submit_tag 'Search', class: "ui button" %>
    </div>
    <% end %>
    <a href="/orgs" class="ui right labeled icon button">  <i class="list icon"></i>  All Organizations </a>
    <a href="/orgs/new" class="ui right labeled icon button">  <i class="plus icon"></i>  Add an Organization </a>
    <h1>Rate <%=@org.name%> </h1>

    <%= form_with scope: :rating, url: ratings_path, local: true do |form| %>
    <div class="ui form">
      <%= hidden_field_tag :org, @org.id %>
      <p>
        Community: <%= form.number_field :community %>
        <div class="ui star rating" data-rating="0" data-max-rating="5"></div>
      </p>

      <p>
        Self-benefit: <%= form.number_field :selfbenefit %>
      </p>

      <p>
        Purpose: <%= form.number_field :purpose %>
      </p>

      <p>
        Application Process: <%= form.number_field :application %>
      </p>

      <p>
        Details:
        <div class="field">
          <%= form.text_area :details, class: 'textarea', placeholder: "Write something here"%>
        </div>
      </p>

      <p>
        <%= form.submit('Submit', class: "ui primary button") %>
      </p>
      </div>
    <% end %>
  </body>
</html>
